@font-face{
    font-family: "akkoItalic", sans-serif;
    src: url("Akko W04 Bold Italic.ttf");
}



  html{
    scroll-behavior: smooth;
    body{
        position: relative;
        background-color: black !important;
        h1{
            color: #114c76 !important;
            }
         h1,h2{ font-family: "akkoItalic", sans-serif; }
        .navbar{ font-family: "akkoItalic", sans-serif; font-size: 15px; padding: 0 }
        .nav-item{ padding: 0px 20px; line-height: 2.5;}
        .nav-item:hover{ background:#114c76}
        .bg-dark{ background: black!important;}
        .bg-acceso{ background: #114c76 !important;}
        .bg-acceso a{ color:black !important;}
        .carousel{ border-bottom: 50px black solid;}
        .carousel-item > img{animation: zoom 1s}
        .carousel-caption {bottom: 40%;}
      }
    .page-title-wrap{ height: 200px;}
    
     
    .clientes {
        align-items: center;
        background: #E3E3E3;
        display: flex;
        justify-content: center;
    }
    
    @mixin white-gradient {
        background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
    }
     $animationSpeed: 40s;
    @keyframes scroll {
        0% { transform: translateX(0); }
        100% { transform: translateX(calc(-250px * 7))}
    }
    .slider {
        background: white;
        box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
        height: 100px;
        margin: auto;
        overflow:hidden;
        position: relative;
        width: 1500px;
     
        
        &::before,
        &::after {
            @include white-gradient;
            content: "";
            height: 100px;
            position: absolute;
            width: 200px;
            z-index: 2;
        }
        
        &::after {
            right: 0;
            top: 0;
            transform: rotateZ(180deg);
        }
    
        &::before {
            left: 0;
            top: 0;
        }
        
        .slide-track {
            animation: scroll $animationSpeed linear infinite;
            display: flex;
            width: calc(250px* 7);
        }
        
        .slide {
            height: 100px;
            width: 250px;
        }
    }
.containerconstruction{
justify-self: center;
  margin-left: 250px;
}
    
    @keyframes zoom{
        from{ transform: scale(1.3,1.3)}   
        to{ transform: scale(1,1)}
    }
    
    @media (max-width: 767px)
    {
    #panel-style-selector{display: none}
}
    .sidebar .tagcloud a{font-size: 11px !important}
    body::-webkit-scrollbar{width: 10px;background-color: black}
    body::-webkit-scrollbar-thumb{background-color: #114c76}
} 



