<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CONTACTOS</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../CSS/styleContacto.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="../HOME/icongecons.png" >
    <link rel="stylesheet"  href="../CSS/serviceplaning.css" >
</head>
<body>
    Gracias por comunicarse, su mensaje fue enviado correctamente
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="../index.html"><img src="../HOME/gecons.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="../index.html">HOME <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../EMPRESA/EMPRESA.html">EMPRESA</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../PROYECTOS/PROYECTOS.html">PROYECTOS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="../EQUIPOS/EQUIPOS.html">EQUIPOS</a>
              </li>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../SERVICIOS/SERVICIOS.html">SERVICIOS</a>
            </li>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../CONTACTO/CONTACTOS.html">CONTACTOS</a>
          </li>
            <li class="nav-item bg-acceso">
                <a class="nav-link" href="#">MI EDIFICIO</a>
              </li>
          </ul>
        </div>
</nav>

<div id="wrapper-content" class="clearfix">
  <div id="wptime-plugin-preloader">

    <section class="page-title-wrap page-title-wrap-bg" style="background-image: url(architect-architecture-artist-blur-268362.jpg);">
 <div class="page-title-overlay">
</div>
 <div class="container">
 <div class="page-title-inner block-center">
     <div class="block-center-inner">
  <h1>CONTACTO</h1>
 </div>
 </div>
 </div>
 </section>

 <div class="entry-content">
  <div class="container">
  


<div class="vc_column_container ">
<div class="darna-heading style1  wpb_animate_when_almost_visible g5plus-css-animation wpb_bounceInLeft wpb_start_animation" >
<h2>Nuestros datos de contacto</h2>
</div>
</div> 

<div class="vc_empty_space" style="height: 60px"><span class="vc_empty_space_inner"></span></div>


<div class="row">
  <div class="col">
<div class="vc_column_container ">
 <div class="wpb_text_column wpb_content_element ">
<h3>DEJANOS TU CONSULTA</h3>
<div>Responderemos a la brevedad.</div>
</div>
  <div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
  
<form method="post" action="contacto.php">
  
  <input type="text" placeholder="Nombre" name="Nombre" required>
<br>
  <input type="email" placeholder="Email" name="email" required>
<br>
  <input type="text" placeholder="Telefono" name="telefono" required>
<br>
  <input type="text" placeholder="Asunto" name="Asunto">
<br>
  <textarea placeholder="Mensaje" name="msg"></textarea required>
<br>
  <input type="submit" name="enviar">
<br>
</form>

  
<!-- FORMULARIO CONTACTO -->
</div>
</div>

<div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>


<div class="col">
 <div class="info">
<p><i class="fa fa-map-marker"></i>&nbsp;&nbsp;CORDOBÁ (Cap)</p>

<p><i class="fa fa-phone"></i>&nbsp;&nbsp;Tel: (+351)  156890019</p>

<p><i class="fa fa-envelope"></i>&nbsp;&nbsp;E-mail: info@gecons.com.ar</p>

</div> 
 


<div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>


<div class="wpb_text_column wpb_content_element  mapa vc_custom_1454460301391">
<p><iframe style="border: 0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13618.724753604234!2d-64.18340213653899!3d-31.4229087808431!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9432a28ddf861391%3A0xc0fdcfc930551a76!2sPlaza%20Espa%C3%B1a!5e0!3m2!1ses!2sar!4v1584901956490!5m2!1ses!2sar" width="400" height="250" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe></p>
</div> 	

</div>
</div>






<div class="sectionad">
<p><strong> Servicios</strong><br>
<a href="mailto:Servicios@gecons.com.ar">Servicios@gecons.com.ar<br>
</a><br>
<strong> Administración</strong><br>
<a href="mailto:administración@gecons.com.ar">Administración@gecons.com.ar<br>
</a><br>
<strong>Ingeniería</strong><br>
<a href="mailto:ingenieria@gecons.com.ar">Ingenieria@gecons.com.ar<br>
</a></p>
</div>




</div> 
</div>

<!-- .entry-content -->
</div>
</div>


<div class="vc_empty_space" style="height: 32px"><span class="vc_empty_space_inner"></span></div>
<footer class="main-footer-wrapper">
    
    <div id="wrapper-footer">
    <div class="main-footer">
    <div class="footer_inner clearfix">
     
    <div class="container">
    <div class="row">
    <div class="col-md-6 col-md-push-3">
    <aside id="darna-footer-logo-2" class="widget widget-footer-logo">       
       <div class="footer-logo ">
      <a href=""><img src="HOME\gecons.png" alt=""></a>
      <div class="sub-description">
    </div>
    </div>
    </aside>
    <aside id="text-8" class="widget widget_text">			
      <div class="textwidget">
      </aside>	
      </div>
     </div>
     </div>
    
    <div class="footer_top_holder col-3">
    <div class="container">
    <div class="row footer-top-col-3 footer-5">
    
    <div class="sidebar col-md-4 col-sm-12 col-1">
      <aside id="nav_menu-2" class="widget widget_nav_menu">
        <div class="menu-menu-1-container">
          <ul id="menu-menu-1" class="menu">
    <li id="menu-item-23" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-11 current_page_item menu-item-23" style="min-width: 50%;"><a href="">HOME</a></li>
    <li id="menu-item-455" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-455" style="min-width: 50%;"><a href="">EMPRESA</a></li>
    <li id="menu-item-29" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-29" style="min-width: 50%;"><a href="">PROYECTOS</a></li>
    <li id="menu-item-456" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-456" style="min-width: 50%;"><a href="">EQUIPO</a></li>
    <li id="menu-item-564" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-564" style="min-width: 50%;"><a href="">SERVICIOS</a></li>
    <li id="menu-item-576" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-576" style="min-width: 50%;"><a href="">CONTACTOS</a></li>
    </ul>
    </div>
    </aside>
    </div>
    
    <div class="sidebar col-md-4 col-sm-12 col-2">
      <aside id="text-3" class="widget widget_text">
        <h4 class="widget-title"><span>GECONS</span></h4>	
    
            <div class="textwidget">
        <div class="datos">
          <i class="fa fa-map-marker"></i>
        </div>
        <div class="datos">&nbsp;&nbsp;
          CORDOBÁ CAPITAL (Cba)</div>
          <br>
          <div class="datos">
            <i class="fa fa-phone"></i></div>
          <div class="datos"> &nbsp;&nbsp;
            Tel: (+351) 156890019</div>
          <br>
          <div class="datos">
            <i class="fa fa-envelope"></i></div>
          <div class="datos">&nbsp;&nbsp;
            E-mail: info@gecons.com</div>
          </div>
        </aside>
     </div>
    
    <div class="sidebar col-md-4 col-sm-12 col-3">
      <aside id="text-9" class="widget widget_text"><h4 class="widget-title"><span>Servicios</span></h4>			
        <div class="textwidget"><a href="">servicios@gecons.com.ar</a>
        </div>
    </aside>
    <aside id="text-10" class="widget widget_text"><h4 class="widget-title"><span>Administración</span></h4>		
        <div class="textwidget"><a href="">administración@gecons.com.ar</a>
        </div>
    </aside>
    <aside id="text-11" class="widget widget_text"><h4 class="widget-title"><span>Ingeniería</span></h4>			
      <div class="textwidget"><a href="">ingenieria@gecons.com.ar</a>
    </div>
    </aside>
    </div>	
    
    
    </div>
    </div>
    </div>
    
    </div> 
    </div>
    </div>
 
    </footer>
    
    
    <div class="container-fluid text-center text-white bg-dark p-3">
          <p class="small">&copy; Todos los derechos reservados | Gecons | 2020</p>
      </div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" ></script>    
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" ></script>
</body>
</html>